$primary-color: #000;
$primary-text-color: #000;
$primary-inverce-text-color: #fff;

$secondary-color: #58971c;

$text-gray: #ababab;

html,
body {
	font-family: "Gilroy", sans-serif !important;
}

header {
	.addBackground {
		background: linear-gradient(
			90deg,
			rgba(255, 255, 255, 1) 0%,
			rgba(255, 255, 255, 0.3984944319524685) 50%,
			rgba(255, 255, 255, 1) 100%
		);
	}

	nav {
		// background: orange;

		a {
			color: inherit;

			h1 {
				font-weight: 600 !important;
				font-size: 2rem !important;
			}

			p {
				font-size: 0.9rem;
			}
		}

		.cart {
			P {
				background: $primary-color;
				color: $primary-inverce-text-color;
				font-size: 1.8rem;
				border-radius: 25px 25px 45px 25px;
				border: solid 3px $primary-color;
				transition: 0.5s;
				cursor: pointer;

				&:hover {
					background: $secondary-color;
					border: solid 3px $secondary-color;
					color: $primary-inverce-text-color;
				}
			}
		}
	}
}

section {
	min-height: 100vh;

	&.sec-hero {
		padding-top: 150px;

		.container {
			height: 100%;

			h1 {
				font-size: 5rem;
				font-weight: 800;
				font-family: "Gilroy";
				letter-spacing: -1px;
			}

			.view-menu {
				background: $primary-text-color;
				color: $primary-inverce-text-color;
				border: solid 3px $primary-color;
				border-radius: 25px 25px 0px 25px;
				box-shadow: 0px 10px 20px 6px #00000025;
				transition: 0.5s;
				cursor: pointer;

				p {
					font-size: 1.5rem;
					font-weight: 600;

					i {
						font-size: 1.7rem;
					}
				}

				&:hover {
					background: $secondary-color;
					border: solid 3px $secondary-color;
					color: $primary-inverce-text-color;
				}
			}

			.menu-icons {
				.ico {
					width: 60px;
					border-radius: 10px;
					box-shadow: 0px 10px 20px 6px #00000025;
					cursor: pointer;
				}
			}

			.hero-img {
				position: relative;
				max-width: 530px;

				img {
					position: absolute;
					top: -60px;

					&.leaf-1 {
						top: unset;
						bottom: -40px;
						left: 0px;
						// transform: rotate(80deg);
					}
					&.leaf-2 {
						top: unset;
						bottom: 0px;
						right: -30px;
						transform: rotate(50deg);
					}

					&.leaf-3 {
						top: unset;
						left: -69px;
						transform: rotate(120deg);
					}
				}
			}
		}
	}

	&.sec-about {
		min-height: unset;
		padding-top: 140px;

		.feature-meal {
			.card {
				position: relative;
				border-radius: 40px;
				// border-color: transparent;
				box-shadow: 0px 10px 20px 4px #00000015;

				.meal-img {
					position: absolute;
					min-width: 150px;
					max-width: 200px;
					height: 150px;
					top: -75px;
				}

				.info {
					margin-top: 130px;
				}

				.meal-details-viewer {
					position: absolute;
					bottom: -25px;
					right: 20px;
					background: $primary-color;
					color: $primary-inverce-text-color;
					font-size: 1.8rem;
					border-radius: 25px 25px 45px 25px;
					border: solid 3px $primary-color;
					transition: 0.5s;
					cursor: pointer;

					&:hover {
						background: $secondary-color;
						border: solid 3px $secondary-color;
						color: $primary-inverce-text-color;
					}
				}
			}
		}

		.right-side {
			p {
				font-size: 1.3rem;
				line-height: 1.9rem;
			}
		}
	}

	&.sec-story {
		padding-top: 150px;

		p {
			font-size: 1.3rem;
			line-height: 1.9rem;
		}

		.story-img {
			max-width: 450px;
		}
	}

	&.sec-meal-menu {
		padding-top: 80px;

		.meals {
			padding-top: 10px;

			.card {
				position: relative;
				border-radius: 40px;
				// border-color: transparent;
				box-shadow: 0px 10px 20px 4px #00000015;
				margin-top: 110px;

				.meal-img {
					position: absolute;
					min-width: 150px;
					max-width: 200px;
					height: 150px;
					top: -75px;
				}

				.info {
					margin-top: 130px;
				}

				.meal-details-viewer {
					position: absolute;
					bottom: -25px;
					right: 20px;
					background: $primary-color;
					color: $primary-inverce-text-color;
					font-size: 1.8rem;
					border-radius: 25px 25px 45px 25px;
					border: solid 3px $primary-color;
					transition: 0.5s;
					cursor: pointer;

					&:hover {
						background: $secondary-color;
						border: solid 3px $secondary-color;
						color: $primary-inverce-text-color;
					}
				}
			}
		}
	}

	&.sec-contact {
		padding-top: 160px;
		color: $primary-inverce-text-color;

		.div-bg {
			background: url("../img/contactus-bg.jpg") no-repeat center bottom / cover;
			// border-radius: 45px;
			padding-top: 80px;
			padding-bottom: 80px;

			.h1 {
				// font-weight: 700;
				font-size: 3.5rem;
			}

			p {
				font-size: 18px;

				// &.lead{}

				span {
					background: $primary-inverce-text-color;
					color: $secondary-color;
					font-size: 1.5rem;
					border-radius: 25px 25px 45px 25px;
					border: solid 3px $primary-inverce-text-color;
					transition: 0.5s;
					cursor: pointer;

					&:hover {
						background: $secondary-color;
						border: solid 3px $secondary-color;
						color: $primary-inverce-text-color;
					}
				}
			}
		}
	}

	&.sec-testimonials {
		// padding-top: 150px;

		// p {
		// 	font-size: 1.3rem;
		// 	line-height: 1.9rem;
		// }

		.testimonials-img {
			position: relative;
			max-width: 450px;
		}

		.testimonial-list {
			.testimonial-user {
				.user-pic {
					max-width: 80px;
					border-radius: 50%;
					overflow: hidden;
				}

				.name {
					font-weight: 700;
				}

				.user-title {
					color: $text-gray;
				}
			}

			.review {
				max-width: 420px;
				color: $text-gray;
				font-size: 1.2rem;
			}
		}
	}
}

footer {
	background: $primary-color;
	color: $primary-inverce-text-color;

	p {
		color: $text-gray;
		cursor: pointer;
		transition: 0.3s;

		&:hover {
			color: $secondary-color;
		}
	}

	.left-side {
		.social-icons {
			span {
				cursor: pointer;

				i {
					transition: 0.5s;
					&:hover {
						color: $secondary-color;
					}
				}
			}
		}
	}
}

@media (min-width: 1400px) {
	.container,
	.container-lg,
	.container-md,
	.container-sm,
	.container-xl,
	.container-xxl {
		max-width: 1140px;
	}
}

@media (max-width: 1199.98px) {
	section {
		&.sec-hero {
			.hero-img {
				// max-width: 530px;

				img {
					// position: absolute;
					top: 0px !important;
				}
			}
		}

		&.sec-testimonials {
			.testimonials-img {
				margin-left: auto;
				margin-right: auto;
				max-width: 350px;
			}
		}
	}
}
@media (max-width: 992px) {
	section {
		&.sec-hero {
			.hero-img {
				img {
					top: 0 !important;

					&.leaf-2 {
						top: 250px !important;
						width: 130px;
					}

					&.leaf-3 {
						top: 250px !important;
						left: 40px !important;
						width: 130px;
					}
				}
			}
		}
	}
}

@media (max-width: 767.98px) {
	section {
		&.sec-hero {
			.container {
				h1 {
					font-size: 4rem;
				}

				.hero-img {
					margin-top: 60px;
					max-width: 320px;
				}
			}
		}

		&.sec-testimonials {
			.testimonials-img {
				max-width: 350px;
			}
		}
	}
}
@media (max-width: 575.98px) {
	section {
		&.sec-hero {
			.container {
				h1 {
					font-size: 4rem;
				}

				.hero-img {
					margin-top: 60px;
					max-width: 320px;

					img {
						top: 0 !important;
						background: orange;

						&.leaf-2 {
							top: 250px !important;
							width: 130px;
						}

						&.leaf-3 {
							top: 250px !important;
							left: 40px !important;
							width: 130px;
						}
					}
				}
			}
		}

		&.sec-about {
			padding-top: 100px;

			.feature-meal {
				& > div {
					.card {
						margin-top: 90px;
					}
				}
				& > div:nth-child(1) {
					.card {
						margin-top: 0;
					}
				}
			}

			.right-side {
				margin-top: 90px !important;
			}
		}

		&.sec-story {
			padding-top: 20px;

			.story-img {
				max-width: 350px;
				margin-left: auto;
				margin-right: auto;
				margin-top: 50px;
			}
		}

		&.sec-testimonials {
			margin-bottom: 100px;

			.row {
				flex-direction: column-reverse;
			}
			.testimonials-img {
				max-width: 320px;
			}
		}
	}
}
